// site styles
@import 'compass/css3';
@import '_vars';
@import '_slider';

@include font-face('PHD', font-files('webfontkit-PHD/jorge_v03-webfont.ttf', 'webfontkit-PHD/jorge_v03-webfont.svg#PHDregular'), 'webfontkit-PHD/jorge_v03-webfont.eot', normal, normal);
@include font-face('PHD', inline-font-files('webfontkit-PHD/jorge_v03-webfont.woff', woff), $weight: normal, $style: normal);


html, body, #wrap-outer {
    height: 100%;
}

.radio-group {
    overflow: hidden;
    // the radio buttons
    > a {
        position: relative;
        text-decoration: none;
        color: $deep-grey-dark;
        display: block;
        float: left;
        height: 3em;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 1.2em;
            height: 1.2em;
            margin-left: -0.65em;
            border: 2px solid $blue;
            background: #fff;
            @include border-radius( 50% );
            @include box-sizing( border-box );
        }

        &.on:after {
            background: $blue;
        }
    }
}

#viewport {
    width: 600px;
    margin: auto;
    padding: 5px;
    border: 7px solid black;
}

#sim-wrap {
    .simulation {
        position: relative;
        width: 600px;
        height: 620px;
    }

    .controls {
        position: absolute;
        bottom: 0px;
        right: 5px;
        z-index: 2;
        width: 180px;
    }

    .view {
        position: absolute;
        top: 78px;
        left: 50%;
        z-index: 1;
        width: 400px;
        height: 400px;
        overflow: hidden;
        margin-left: -194px;
        @include border-radius( 50% );
    }
}

#sun-simulation {
    background: image-url('bg-sun.png') no-repeat center center;
    background-size: 100%;
}

.controls {
    color: #000;
    text-align: right;
    font-size: 20px;
    line-height: 0.666666;
    font-family: 'PHD';

    label {
        padding-right: 1em;
    }

    button {
        font-family: 'PHD';
        font-size: 0.8em;
        margin-bottom: 1em;
        margin-right: 1em;
    }

    .slider {
        margin-bottom: 1em;
    }

    .col-counter {
        margin: 0 0 1em 0.6em;
        text-align: left;
        data {
            font-size: 2em;
            vertical-align: middle;
            margin-left: 0.2em;
            margin-top: -0.2em;
        }
    }

    .column {
        text-align: center;
    }

    .field-type {
        overflow: hidden;
        margin-bottom: 2em;
        .radio-group {
            margin-left: 1em;
            > a {
                margin-right: 48px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
