// site styles
@import 'compass/css3';
@import '_vars';
@import '_slider';

html, body, #wrap-outer {
    height: 100%;
}

#simulation,
#controls {
    width: 600px;
    height: 600px;
    margin: auto;
}

#controls {

}

#physics {
    border: 1px solid black;
}
