/* line 1, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/_slider.scss */
.slider {
  margin: 10px 16px;
  border: 1px solid #c8c8c8;
  height: 6px;
  background: #fff;
  z-index: 1;
  cursor: pointer;
}
/* line 9, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/_slider.scss */
.slider .handle {
  background: gainsboro;
  border: 1px solid #626262;
  width: 24px;
  height: 24px;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 18, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/_slider.scss */
.slider .handle:hover {
  background: #fff;
}
/* line 23, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/_slider.scss */
.slider .meter {
  z-index: 1;
  background: #2888e4;
  border: 1px solid #2888e4;
}

/* line 6, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 10, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
.radio-group {
  overflow: hidden;
}
/* line 13, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
.radio-group > a {
  position: relative;
  text-decoration: none;
  color: #1a1a1a;
  display: block;
  float: left;
  height: 3em;
}
/* line 21, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
.radio-group > a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1.2em;
  height: 1.2em;
  margin-left: -0.65em;
  border: 2px solid #2888e4;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 35, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
.radio-group > a.on:after {
  background: #2888e4;
}

/* line 41, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#viewport {
  width: 600px;
  margin: auto;
}

/* line 46, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sun-bg {
  display: none;
}

/* line 51, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-wrap.sun #simulation {
  position: relative;
  height: 460px;
}
/* line 55, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-wrap.sun #physics {
  top: 110px;
  left: 50%;
  margin-left: -180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 61, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-wrap.sun #sun-bg {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -280px;
  width: 560px;
  z-index: 0;
}

/* line 73, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-wrap.bottle #physics {
  background: #9dbce3;
}

/* line 78, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#simulation {
  height: 300px;
}

/* line 82, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-selector {
  overflow: hidden;
}
/* line 84, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sim-selector > * {
  margin: 1em 4em;
}

/* line 89, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#bottle-image {
  float: left;
  width: 160px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #f19e33), color-stop(70%, #ffffff));
  background: -webkit-radial-gradient(#f19e33, #ffffff 70%);
  background: -moz-radial-gradient(#f19e33, #ffffff 70%);
  background: -o-radial-gradient(#f19e33, #ffffff 70%);
  background: radial-gradient(#f19e33, #ffffff 70%);
}

/* line 94, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#sun-image {
  float: left;
  width: 160px;
}

/* line 99, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#us-image {
  margin: 30px 0;
  width: 200px;
}

/* line 104, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls {
  height: 20px;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-family: "sf_cartoonist_hand", Helvetica, Arial, sans-serif;
  padding: 2em 0;
}
/* line 111, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls .column {
  text-align: center;
}
/* line 115, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls .field-type {
  overflow: hidden;
  margin-bottom: 2em;
}
/* line 118, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls .field-type .radio-group {
  margin-left: 1em;
}
/* line 120, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls .field-type .radio-group > a {
  margin-right: 48px;
}
/* line 122, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#controls .field-type .radio-group > a:last-child {
  margin-right: 0;
}

/* line 130, /Users/wellcaffeinated/Documents/github/minutelabs/Fusion/library/styles/site.scss */
#simulation canvas {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
